<%= form_with(model: measurement_unit) do |form| %>
  <% if measurement_unit.errors.any? %>
    <div class="w-full">
      <h2><%= pluralize(measurement_unit.errors.count, "error") %> prohibited this measurement_unit from being saved:</h2>
      <ul>
        <% measurement_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-full flex flex-col gap-4">
    <div class="w-full">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "w-full" %>
    </div>
    <div class="w-full">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class: "w-full" %>
    </div>
    <div class="flex justify-end">
      <%= form.submit "Submit", class: "button button--primary" %>
    </div>
  </div>
<% end %>
