<div class="page-container flex flex-col gap-4">
  <div class="flex justify-between">
    <h1 class="text-lg font-bold sm:text-3xl"><%= @plan.plan_name %></h1>
    <div class="flex gap-2 text-xl">
      <%# -------------------------------- %>
      <%= link_to "Grocery list", grocery_list_plan_path(format: :pdf), class: "py-1 px-2 bg-accent rounded-md text-gray-500 hover:bg-accent/70 hover:text-gray-400" %>
      <%# -------------------------------- %>
      <%= button_to  edit_plan_path(@plan), method: :get, data: { turbo_frame: "modal" }, class: "py-1 px-2 bg-secondary rounded-md text-gray-200 hover:bg-secondary/90" do %>
        <i class="bi bi-pencil"></i>
      <% end %>
      <%# -------------------------------- %>
      <%= button_to @plan, method: :delete, class: "py-1 px-2 bg-red-600 rounded-md text-gray-200 hover:bg-red-700" do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
  <%= turbo_stream_from "mealplans_list" %>
  <!-- #BEGIN Meal Plan -->
  <ul class="flex flex-col gap-8 mb-2 ">
    <% @mealplans.each do |mealtype, mealplan| %>
      <li>
        <h3 class=" capitalize "><%= mealtype %></h3>
        <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-7 gap-1">
          <% mealplan.each do |day, mealplan_recipe| %>
            <% if mealplan_recipe.present? %>
              <%= render "users/plans/meal_plan", meal_type: mealtype, day: day, recipe: mealplan_recipe.recipe, plan_id: @plan.id, meals: mealplan_recipe, id: mealplan_recipe.id  %>
            <% else %>
              <%= render "users/plans/meal_plan_empty", meal_type: mealtype, day: day, plan_id: @plan.id  %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
