<div class="grid relative">
  <h1 class="flex flex-col sm:flex-row sm:justify-between p-4  bg-accent/20">
    <span class="text-gray-700 text-3xl"><%= recipe.title %></span>
    <%# <span class="shadow-xl"> %>
    <%= button_to  edit_title_recipe_path(recipe), method: :get,  data: {turbo_frame: "modal"}, class: "flex px-3 py-2 rounded-md text-xl shadow-md gap-2 bg-accent hover:bg-primary text-gray-700" do %>
      <i class="bi bi-pencil"></i>
      Edit Title
    <% end %>
    <%# </span> %>
  </h1>
  <div class="p-4 border border-accent/20">
    <!--------- START recipe_form_update ----------->
    <%= turbo_stream_from "recipe_form_update" %>
    <!-- ------------ -->
    <div class="flex flex-col w-full p-3 my-4">
      <%#= image_tag image_render(image=recipe.image, width=nil, height=300) %>
      <%= form_with(model: recipe, html: { class: "w-full flex flex-col sm:flex-row items-start gap-4 mb-3"}) do |form| %>
        <div class="w-full sm:w-8/12 lg:w-9/12 p-4 bg-gray-100"  data-controller="profile-form">
          <h5 class="mb-2">Recipe cover image</h5>
          <div class="w-fit relative">
            <% if recipe.image.attached? %>
              <%= image_tag recipe.image.variant(resize_to_fit: [400, 400], format: :jpg, saver: { strip: true, quality: 50 }), 
                          data: {"profile-form-target": "thumbnail"},  
                          class: "" %>
            <% else %>
              <%= image_tag 'user-1.png',   
                      data: {"profile-form-target": "thumbnail"}, 
                      size: "400", 
                      class: "w-96 bg-gray-200 p-1 object-cover" %>
            <% end %>
            <%= form.file_field :image, data: {"profile-form-target": "thumbnailInput", action: "change->profile-form#attachThumbnail"}, class: 'form-control hidden'  %>
            <%= button_tag(type: :button, data: {action: "click->profile-form#changeThumbnail"}, 
                                        class: "absolute -top-2 -right-3 w-fit  mx-none sm:mx-auto p-1 px-2 bg-gray-400 rounded-full z-10 shadow-lg") do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </div>
        </div>
        <div class="w-full sm:w-4/12 lg:w-3/12 flex flex-col gap-8 p-4 mt-22 bg-gray-200">
          <div class="flex justify-end absolute sm:relative top-1 right-1 sm:top-0 sm:right-0">
            <%= form.submit :Update, :class => "button button--primary shadow-xl" %>
          </div>
          <div class="flex flex-col">
            <%= form.label :status, class: 'form-label text-end' %>
            <%= form.select(:status, {published: "published", draft: "draft", trash: "trash"}, { include_blank: true }) %>
          </div>
          <div class="flex flex-col">
            <%= form.label :recipe_category, class: 'form-label text-end' %>
            <%= form.select(:recipe_category_id, RecipeCategory.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
          </div>
        </div>
      <% end %>
    </div>
    <!--------- END recipe_form_update ----------->
    <div  data-value-id="<%= recipe.id %>"  class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-4" id="recipe-update-33">
      <!----- Ingredients  ------>
      <%= render 'admins/recipes/ingredient/recipe_sub_ingredient', recipe_ingredient: @recipe_ingredients, recipe: recipe, edit: edit %>
      <!----- Instructions ------>
      <%= render "admins/recipes/direction/recipe_sub_direction", id: recipe[:id], directions: recipe[:directions], edit: edit %>
    </div>
  </div>
  <!-----  ------>
</div>
