<p style="color: green"><%= notice %></p>
<%= render @grocery_category %>
<div>
  <%= link_to "Edit this grocery_category", edit_grocery_category_path(@grocery_category) %> |
  <%= link_to "Back to grocery_categories", grocery_categories_path %>
  <%= button_to "Destroy this grocery_category", @grocery_category, method: :delete %>
</div>
