<div class="max-w-3xl mx-auto h-full py-16">
  <ul class="grid sm:grid-cols-3 gap-4 sm:gap-8 text-gray-800 font-extrabold">
    <%= render "list", name: "Meaurement Units", link: admins_measurement_units_url %>
    <%= render "list", name: "Recipes", link: admins_recipes_url %>
    <%= render "list", name: "Ingredient States", link: admins_ingredient_states_url %>
    <%= render "list", name: "Grocery Categories", link: admins_grocery_categories_url %>
    <%= render "list", name: "Grocery", link: admins_groceries_url %>
  </ul>
</div>
