<%= form_with(model: ingredient_state, html: { class: "flex flex-col gap-4 text-gray-800"}) do |form| %>
  <% if ingredient_state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient_state.errors.count, "error") %> prohibited this ingredient_state from being saved:</h2>
      <ul>
        <% ingredient_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div class="flex flex-col">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
  <div class="flex flex-col">
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>
  <div class="flex justify-end">
    <%= form.submit class: "button button--primary" %>
  </div>
<% end %>
