<div id="recipe_ingredient_form"  data-controller="recipe" data-recipe-id-value="<%= recipe_id %>" class="flex flex-col gap-4 max-w-2xl">
  <% if ingredient.errors.any? %>
    <div style="color: red">
      <h2><span class="py-1 px-2 bg-slate-400 rounded-full"><%= pluralize(ingredient.errors.count, "error") %></span> prohibited this Ingredient from being saved:</h2>
      <ul>
        <% ingredient.errors.each do |error| %>
          <li class="font-bold"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form id="_recipe_ingredient_form" class="flex flex-col gap-4">
    <div class="w-full flex flex-col">
      <label class="text-gray-500">Grocery</label>
      <div data-controller="multiselect" data-multiselect-preload-url-value="/groceries/search" data-multiselect-search-url-value="/groceries/search" data-placeholder="Search for groceries...">
        <select  multiple="multiple" class="multiselect__hidden" data-multiselect-target="hidden" name="grocery_id" id="grocery_id"></select>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="w-full flex flex-col">
        <label class="text-gray-500">Quantity</label>
        <input name="quantity" type="number" step=".1" value="<%= ingredient[:quantity] %>" placeholder="0.5" />
      </div>
      <div  class="w-full flex flex-col">
        <label class="text-gray-500">Measurement Uni</label>
        <select value="<%= ingredient[:measurement_unit_id] %>" name="measurement_unit_id">
          <% MeasurementUnit.all.map do |result| %>
            <option value="<%= result.id %>" <%= "selected" if ingredient[:measurement_unit_id] == result.id %> ><%= result.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="w-full flex flex-col">
      <label class="text-gray-500">Ingredient State</label>
      <select value="<%= ingredient[:ingredient_state_id] %>" name="ingredient_state_id">
        <% IngredientState.all.map do |result| %>
          <option value="<%= result.id %>" <%= "selected" if ingredient[:ingredient_state_id] == result.id %> ><%= result.name %></option>
        <% end %>
      </select>
    </div>
    <div class="flex justify-end mt-4">
      <button class="button--primary rounded-md text-white p-2"   value="submit" data-action="click->recipe#create_ingredient">Add Ingredient</button>
    </div>
    <!-- <div class="w-full  flex flex-col">
      <label class="text-gray-500">Grocery</label>
      <select value="<%= ingredient[:grocery_id] %>" name="grocery_id">
        <% Grocery.all.map do |result| %>
          <option value="<%= result.id %>"  <%= "selected" if ingredient[:grocery_id] == result.id %> ><%= result.name %></option>
        <% end %>
      </select>
    </div> -->
  </form>
</div>
