<%# <turbo-frame id="recipe_ingredient_form"> %>
<%#= turbo_frame_tag "recipe_ingredient_form" do %>
  <div id="recipe_ingredient_form"   class="flex flex-col gap-4 max-w-2xl">
    <% if ingredient.errors.any? %>
      <div style="color: red">
        <h2><span class="py-1 px-2 bg-slate-400 rounded-full"><%= pluralize(ingredient.errors.count, "error") %></span> prohibited this Ingredient from being saved:</h2>
        <ul>
          <% ingredient.errors.each do |error| %>
            <li class="font-bold"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with url: '/ingredients', method: :post, html: {id: "_recipe_ingredient_form", class: "flex flex-col gap-4"} do  %>
      <div class="flex flex-col">
        <label class="text-gray-500">Quantity</label>
        <input name="quantity" type="number" step=".1" value="<%= ingredient[:quantity] %>" placeholder="0.5" />
      </div>
      <div  class="w-full  flex flex-col">
        <label class="text-gray-500">Measurement Uni</label>
        <select value="<%= ingredient[:measurement_unit_id] %>" name="measurement_unit_id">
          <% MeasurementUnit.all.map do |result| %>
            <option value="<%= result.id %>" <%= "selected" if ingredient[:measurement_unit_id] == result.id %> ><%= result.name %></option>
          <% end %>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label class="text-gray-500">Ingredient State</label>
        <select value="<%= ingredient[:ingredient_state_id] %>" name="ingredient_state_id">
          <% IngredientState.all.map do |result| %>
            <option value="<%= result.id %>" <%= "selected" if ingredient[:ingredient_state_id] == result.id %> ><%= result.name %></option>
          <% end %>
        </select>
      </div>
      <div class="w-full  flex flex-col">
        <label class="text-gray-500">Grocery</label>
        <select value="<%= ingredient[:grocery_id] %>" name="grocery_id">
          <% Grocery.all.map do |result| %>
            <option value="<%= result.id %>"  <%= "selected" if ingredient[:grocery_id] == result.id %> ><%= result.name %></option>
          <% end %>
        </select>
      </div>
      <div class="flex justify-end mt-4">
        <input hidden value="<%= recipe_id %>" name="recipe_id">
        <%# <input type="hidden" name="authenticity_token" value="= form_authenticity_token"> %>
        <%= submit_tag 'save', class: "button button--primary" %>
      </div>
    <% end %>
  </div>
  <%# end %>
  <%# </turbo-frame> %>
