<ul id="recipe_<%= recipe.id %>" class="flex flex-col">
  <% count = 0 %>
  <% recipe_ingredient.each do |index, ingredient| %>
    <% unless ingredient.nil? %>
      <li id="ingredient--#<%= ingredient[:id] %>" class="flex justify-between bg-gray-50 hover:bg-gray-200 gap-2 mb-1">
        <div class="flex gap-2">
          <span class="w-8 text-white font-extrabold px-3 bg-gray-200">
            <%= count += 1  %>
          </span>
          <span>
            <%= render "users/recipes/ingredient_quantity", quantity: ingredient[:quantity], id: ingredient[:id] %>
            - <%= ingredient[:grocery] %> - <%= ingredient[:ingredient_state] %>
            <%= ingredient[:measurement_unit] %>
          </span>
        </div>
        <% if admin_signed_in? %>
          <span class="flex items-center gap-1 py-1">
            <%= button_to  ingredient_path(ingredient[:id]), 
        method: :get, 
        data: {turbo_frame: 'modal'}, class: "bg-gray-500 hover:bg-gray-700 text-gray-200 hover:text-white px-1 rounded-md" do %>
              <i class="bi bi-eye"></i>
            <% end %>
            <%= button_to  edit_ingredient_path(ingredient[:id]), 
        method: :get, 
        params: {recipe_id: ingredient.recipe_id}, 
        data: {turbo_frame: 'modal'}, class: "bg-gray-300 hover:bg-gray-700 text-black hover:text-white px-1 rounded-md" do %>
              <i class="bi bi-pencil"></i>
            <% end %>
            <%= link_to ingredient_path(ingredient[:id]), 
          data: { 'turbo-method': "delete", 'delete-target': "link", 
          action: "turbo:click->recipe#delete" },  
          class: "bg-gray-300 hover:bg-red-700 text-red-400 text-black hover:text-white px-1 rounded-md" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
