<div class="page-container">
  <div class="grid mb-16">
    <h1 class="flex flex-col sm:flex-row sm:justify-between p-4  bg-accent/20">
      <span class="text-gray-700 text-3xl"><%= @recipe.title %></span>
    </h1>
    <div class="w-full my-4">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe&.image.variant(resize_to_fill: [1000, 400] ), class: "w-full object-cover" %>
      <% else %>
        <span class="text-red-700"> No image attached yet!!!</span>
      <% end %>
    </div>
    <%= turbo_stream_from :servings %>
    <div class="w-full py-2 my-4 flex justify-between">
      <span><% mealplan =  @recipe.meal_plans.find(params[:meal_plan_id].to_i) %></span>
      <div class="flex gap-4">
        <div class="flex items-center gap-2">
          <%= button_to delete_serving_meal_plan_path(params[:meal_plan_id]), 
              params: {plan_id: mealplan[:plan_id], day: mealplan[:day], meal_type: mealplan[:meal_type]}, 
              method: :delete, 
              class: "bg-gray-200 text-gray-600 px-2 text-2xl rounded-md" do %>
            <i class="bi bi-dash"></i>
          <% end %>
          <%= render "serving", serving: mealplan.number_of_persons_to_be_served %>
          <%= button_to create_serving_meal_plan_path(params[:meal_plan_id]), 
              params: {plan_id: mealplan[:plan_id], day: mealplan[:day], meal_type: mealplan[:meal_type]}, 
              method: :patch, 
              class: "bg-gray-200 text-gray-600 px-2 text-2xl rounded-md" do %>
            <i class="bi bi-plus"></i>
          <% end %>
        </div>
        <span class="flex items-center border-x border-gray-500 px-2">
          <i class="bi bi-printer"></i>
        </span>
        <!----------------------------------------------->
        <div class="flex items-center">
          <%= turbo_stream_from "favorite" %>
          <%#= turbo_frame_tag "favorite_button" %>
          <% if @recipe.favorites[0].present? %>
            <%= render "favorite_fill", recipe: @recipe %>
          <% else %>
            <%= render "favorite_empty", recipe: @recipe %>
          <% end %>
        </div>
      </div>
    </div>
    <div  data-value-id="<%= @recipe.id %>"  class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4" id="recipe-update-33">
      <!----- Ingredients  ------>
      <%= render 'users/recipes/recipe_plan_sub_ingredient', recipe_ingredient: @recipe_ingredients, recipe: @recipe %>
      <!----- Instructions ------>
      <%= render "admins/recipes/direction/recipe_sub_direction", id: @recipe[:id], directions: @recipe[:directions] %>
    </div>
  </div>
  <!-- ----------------------------------------- -->
  <!-- ------------- START REVIEWS ------------- -->
  <%= render "users/recipes/single_recipe_reviews", review: @recipe.reviews, recipe: @recipe  %>
  <!-- ------------- END REVIEWS ------------- -->
  <!-- --------------------------------------- -->
  <div class="flex justify-end gap-4 p-4 bg-gray-700 text-gray-200">
    <% if admin_signed_in? %>
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <% end %>
    <%= link_to "Back to recipes", recipes_path %>
    <%#= button_to "Destroy this recipe", @recipe, method: :delete %>
  </div>
</div>
