<div class="page-container">
  <div class="grid mb-16">
    <h1 class="flex flex-col sm:flex-row sm:justify-between p-4  border-l-8 border-accent/20">
      <span class="text-gray-700 text-3xl"><%= @recipe.title %></span>
    </h1>
    <div class="my-4">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe&.image.variant(resize_to_fill: [], style:"" ) %>
      <% else %>
        <span class="text-red-700"> No image attached yet!!!</span>
      <% end %>
    </div>
    <%= turbo_stream_from :servings %>
    <div class="w-full py-2 my-4 flex justify-between">
      <%# mealplan =  @recipe.meal_plans.find(params[:meal_plan_id]) %>
      <div class="flex gap-4">
        <div class="flex items-center gap-2">
          <span class="flex items-center border-x border-gray-500 px-2">
            <i class="bi bi-printer"></i>
          </span>
          <!----------------------------------------------->
          <div class="flex items-center">
            <%= turbo_stream_from "favorite" %>
            <%#= turbo_frame_tag "favorite_button" %>
            <% if @recipe.favorites[0].present? %>
              <%= render "favorite_fill", recipe: @recipe %>
            <% else %>
              <%= render "favorite_empty", recipe: @recipe %>
            <% end %>
          </div>
        </div>
      </div>
      <% unless @recipe.ingredients.empty? %>
        <div  data-value-id="<%= @recipe.id %>"  class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4" id="recipe-update-33">
          <!----- Ingredients  ------>
          <%= render 'users/recipes/recipe_sub_ingredient', recipe_ingredient: @recipe.ingredients, recipe: @recipe %>
          <!----- Instructions ------>
          <%#= debug @recipe.ingredients %>
        </div>
      <% end %>
    </div>
    <div class="sm:flex shadow-md my-8 p-4">
      <div>
        <h3 class="text-2xl text-gray-500">Reviews</h3>
        <div class="flex gap-4">
          <%= button_to "Write Review", recipe_review_path(@recipe), 
          params: {recipe_id: @recipe.id}, 
          method: :post,
          data: { turbo_frame: "write-review" }, 
          class: "button button--secondary" 
        %>
          <%= link_to pluralize(@recipe.reviews.size, "Review"), recipe_reviews_path(@recipe) %>
        </div>
        <%= turbo_frame_tag "write-review"  %>
        <%# --------------------------------- %>
        <ul class="flex flex-col gap-4 reviews">
          <%= turbo_stream_from "review-list" %>
          <% @reviews.each do |review| %>
            <% unless review.parent_id || !review.persisted? %>
              <li class="bg-gray-50 my-1 p-4" id="review-<%= review.id %>">
                <%= render "shared/stars", recipe: @recipe, review: review  %>
                <p>
                  <%= review.user.name if review.user.name.present? %>
                  <span class="text-xs text-gray-500 italic">
                    <%= time_ago_in_words(review.created_at) %> ago
                  </span>
                </p>
                <p>
                  <%= review.comment %>
                </p>
                <%= render 'users/reviews/review', review: review.replies, recipe: @recipe if review.replies.any? %>
                <% unless current_user.nil? %>
                  <%= button_to 'Reply', reply_recipe_reviews_path(@recipe), 
                  params: {parent_id: review.id},
                  method: :post,
                  data: { turbo_frame: "review-#{review.id}"}, 
                  class: "bg-primary px-2 py-1 rounded-sm text-xs"
                %>
                <% end %>
                <%= turbo_frame_tag "review-#{review.id}" %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <%# --------------------------------- %>
      </div>
    </div>
  </div>
