<!DOCTYPE html>
<html>
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="flex flex-col sm:flex-row h-full min-h-screen">
      <div class="w-full sm:w-3/12 md:w-3/12 lg:w-4/12 h-52 sm:min-h-screen bg-accent sm:fixed" style="background-image: url(<%= asset_url("auth_bgs/#{rand(1..7)}.jpg") %>);background-size:cover;background-position:center;background-postion:fixed">
      </div>
      <div class="w-full flex items-center justify-center sm:pl-[30%]">
        <div class="w-full md:w-10/12 lg:w-6/12 flex flex-col gap-4 p-4 top">
          <%= link_to root_url, class: "absolute sm:relative mb-3 top-1 left-2" do %>
            <%= image_tag "ama-boadiwaa-logo.png", size: "100" %>
          <% end %>
          <%= render "application/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <!------------  MODAL  -------------->
    <%= turbo_frame_tag "modal" %>
    <!------------ END MODAL --------------->
  </body>
</html>
